* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	height: 100vh;
}
#app {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
header {
	margin: 0.3rem 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid black;
}
footer {
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid black;
	margin: 0.3rem 1rem;
}
main {
	flex-grow: 1;
}
a {
	text-decoration: none;
	color: black;
}
.btn-link {
	border: 1px solid black;
	border-radius: 3;
	padding: 5px;
	box-shadow: 5px 4px 5px #343333;
}
.btn-link:hover {
	background-color: black;
	color: white;
	transition: 0.6s;
}
